li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
}

.content {
  margin: 50px auto;
  width: 660px;
}
.repositories {
  display: flex;
  flex-direction: column;
  background-color: #c4c4c4;
  padding: 70px;

  font-family: Roboto;
  font-size: 48px;
  line-height: 56px;
}

.repositories__form {
  flex: 1 1;
}

.form__input {
  font-size: 48px;
  line-height: 56px;

  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}

.repositories__select-list {
  overflow: hidden;
  font-size: 30px;
  line-height: 35px;
  display: none;
}

.repositories__select-item {
  border: 1px solid black;
  cursor: pointer;
}

.repositories__list {
  background: #c4c4c4;
  list-style: none;
  padding: 0;
}

.repositories__item {
  background: #e27beb;
  padding: 8px 16px;
  font-size: 24px;
  line-height: 28px;
  border: 1px solid black;
}

.repository {
  position: relative;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
